

h1, h2, h3 {
    color: #36454F;
    text-align: center;
}

a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: white;
    height: 70px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #F8C8DC !important;
    border-color: #F8C8DC !important;
}

.form-check-input:checked {
    background-color: #F8C8DC;
    border-color: #F8C8DC;
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0 15px 15px 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 70%;
}

.nav-tabs {
    border-bottom: none;
}

.nav-link, .nav-link:hover {
    color: #36454F;
}

.header {
    display: flex;
    padding: 10px 20px;
    position: relative;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

.rounded-circle {
    background-color: #F8C8DC !important;
}

.profile-dropdown-menu {
    border: none;
    padding: 0;
}

.dropdown-custom, .dropdown-custom:hover, .dropdown-custom:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #36454F;
}

.card-footer {
    background-color: transparent;
}

.threads-list {
    border-right: 1px solid #ccc;
    padding-right: 20px;
    height: 65vh;
}

.no-threads {
    text-align: center;
    margin-top: 150px;
}

.list-group-item {
    cursor: pointer;
    padding: 10px;
    border: black;
}

.list-group-item:hover {
    background-color: #f0f0f0 !important;
}

.list-group-item.active {
    background-color: #F8C8DC !important;
    border-color: #F8C8DC !important;
}

.grey-icon {
    color: grey;
}

.category-title {
    margin-left: 50px;
}

.small {
    font-size: smaller;
}

.edited-tag {
    font-style: italic;
    color: gray;
    font-size: smaller;
}

.speech-bubble {
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 15px 15px 5px 15px;
    position: relative;
    min-width: 60%;
    display: inline-block;
    margin-bottom: 12px;
}

.thread-content {
    background-color: white;
    border-radius: 10px;
    border: grey solid 1px;
}

.new-message-form {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px 5px 80px 5px;
}

.new-message-form textarea {
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    resize: none;
}

.new-message-form button {
    margin-top: 10px;
}

.scrollable-container {
    height: calc(100vh - 330px);
    overflow-y: auto;
    padding-right: 10px;
    padding-bottom: 20px;
}

.kebab-menu {
    position: absolute;
    top: 10px;
    right: 12px;
}

.message-sent {
    margin-left: 40%;
}

.search-icon {
    color: grey;
    font-size: 20px;
    margin-left: 5px;
}

.search-input {
    position: relative;
    padding: 12px 14px;
    border: 1px solid #dee2e6;
    border-left: none;
    outline: none;
}

.search-input::placeholder {
    color: grey;
    opacity: 0.8;
}

.input-group-text {
    border-radius: 20px;
    border-right: none;
    background-color: white;
}

.discussion-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 55px;
}

.input-group {
    position: absolute;
    transform: translateX(75%);
}

.header-container {
    position: relative;
    padding: 0 20px 20px;
}

.search-dropdown {
    margin-top: 52px;
    width: 250px;
    border: #dee2e6 1px solid;
}

.dropdown-item {
    width: 230px;
}

input#search-input.search-input {
    border-radius: 0 20px 20px 0;
}

.save-edit, .cancel-edit, .edit-message-textarea {
    margin-top: 10px;
}

.dashboard-tile {
    margin: 15px;
    border-radius: 15px;
    background-color: #f0f0f5;
    width: 280px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 10px;
}

.dashboard-tile:hover {
    background-color: #d6d6e1;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.dashboard-tile-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    font-size: 18px;
}

.dashboard-tile:hover .dashboard-tile-title {
    color: white;
}

.new-category-tile {
    background-color: #FBD9E5;
    width: 180px;
}

.new-category-tile:hover {
    background-color: #F8C8DC;
}

.category-tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tile-info {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.delete-category {
    margin-top: 15px;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.new-category-modal, .new-thread-modal {
    padding: 10px;
}