

h1, h2, h3 {
    color: #36454F;
    text-align: center;
}

a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: white;
    height: 70px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: pink !important;
    border-color: pink !important;
}

.form-check-input:checked {
    background-color: pink;
    border-color: pink;
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0 15px 15px 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 70%;
}

.nav-tabs {
    border-bottom: none;
}

.nav-link, .nav-link:hover {
    color: #36454F;
}

.header {
    display: flex;
    padding: 10px 20px;
    position: relative;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

.rounded-circle {
    background-color: pink !important;
}

.dropdown-menu {
    border: none;
}

.dropdown-custom, .dropdown-custom:hover, .dropdown-custom:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #36454F;
}

.card-footer {
    background-color: transparent;
}

.threads-list {
    border-right: 1px solid #ccc;
    padding-right: 20px;
    height: 65vh;
}

.no-threads {
    text-align: center;
    margin-top: 150px;
}

.list-group-item {
    cursor: pointer;
    padding: 10px;
    border: black;
}

.list-group-item:hover {
    background-color: #f0f0f0 !important;
}

.list-group-item.active {
    background-color: pink !important;
    border-color: pink !important;
}

.grey-icon {
    color: grey;
}

.category-title {
    margin-left: 50px;
}

.small {
    font-size: smaller;
}

.edited-tag {
    font-style: italic;
    color: gray;
    font-size: smaller;
}

.speech-bubble {
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 15px 15px 5px 15px;
    position: relative;
    min-width: 60%;
    display: inline-block;
    margin-bottom: 12px;
}

.thread-content {
    background-color: white;
    border-radius: 10px;
    border: grey solid 1px;
}

.new-message-form {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px 5px 80px 5px;
}

.new-message-form textarea {
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    resize: none;
}

.new-message-form button {
    margin-top: 10px;
}

.scrollable-container {
    height: calc(100vh - 330px);
    overflow-y: auto;
    padding-right: 10px;
    padding-bottom: 20px;
}

.kebab-menu {
    position: absolute;
    top: 10px;
    right: 12px;
}

.message-sent {
    margin-left: 40%;
}